body {
  background-color: #1a1a1a;
}
:root {
  --bs-font-sans-serif: "Epilogue";
}
.fs-6 {
  font-size: 13px !important;
  letter-spacing: 1px;
}
.btn-light {
  --bs-btn-color: #1a1a1a;
  --bs-btn-hover-bg: #1a1a1a;
  --bs-btn-hover-color: #dda686;
  --bs-btn-hover-border-color: #dda686;
}
.navbar-nav li .nav-link.active {
  --bs-navbar-active-color: #dda686;
}
.header {
  position: sticky;
  top: 0;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 1px,
    rgba(255, 255, 255, 0.23) 0px 1px 1px;
}
.header-fix {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #1d1d1d;
}
.header.header-fix {
  animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* logo */
.gradiant {
  font-size: 30px;
  background: -webkit-linear-gradient(#dda686, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  height: 750px;
  bottom: 0;
  width: 40%;
  background-image: url("../images/dots.png");
  background-repeat: repeat;
  opacity: 0.1;
}
.l-s {
  letter-spacing: 1px;
}
.img-box {
  width: 100%;
  height: auto;
}
.img-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item h4 {
  font-size: 6.25rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.skill-items .item {
  padding: 45px 35px;
  border-radius: 100px;
  margin: 0 10px;
  transition: all 0.4s;
  border: 1px solid #fff;
  color: #fff;
}
.skill-items .item:hover {
  transform: scale(1.15);
  border: 1px solid #dda686;
  color: #dda686;
}
form .form-control {
  background: transparent;
  border: 1px solid #4f4e4f;
  padding: 15px;
}
form .form-control::placeholder {
  color: #4f4e4f;
}
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #dda686;
  color: #fff;
}

/* cursor */
html {
  /* cursor: none; */
  --text: #fff;
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  pointer-events: none;
}
.cursor div {
  position: absolute;
  display: grid;
  place-items: center;
}
.cursor div div {
  border: 1px solid #fff;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}
.cursor div:nth-child(1),
.cursor div:nth-child(2) {
  width: 100%;
  height: 100%;
}
.cursor div:nth-child(1) {
  transition: transform 0.2s ease-out;
}
.cursor div:nth-child(2) {
  transition: transform 0.1s ease-out;
}
.cursor div:nth-child(2) div {
  background: #fff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}
.contact-bar {
  border: 1px solid #fff;
  transition: all 0.5s;
  z-index: 999;
}
.contact-bar:hover {
  border: 1px solid #dda686;
}
.contact-bar ul li a i {
  font-size: 24px;
  color: #fff;
  transition: all 0.5s;
}
.contact-bar ul li a i:hover {
  color: #dda686;
}

/* particles */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* media query */
@media (min-width: 576px) {
  .con-med h4 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .con-med h4 {
    font-size: 5rem;
  }
}
@media (min-width: 576px) {
  .item h4 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .item h4 {
    font-size: 6.25rem;
  }
}
